@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
  --theme: green;
  --theme-secondary: rgb(49, 117, 55);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --theme-secondary: rgb(47, 138, 17);
    --neutral-secondary: rgb(78, 78, 78);
  }
}

@layer components {
  button {
    @apply bg-transparent hover:bg-(--theme) text-(--theme) font-semibold hover:text-white py-1 px-2 border border-(--theme) hover:border-transparent rounded hover:cursor-pointer cursor-pointer
  }
  .button {
    @apply bg-transparent hover:bg-(--theme) text-(--theme) font-semibold hover:text-white py-1 px-2 border border-(--theme) hover:border-transparent rounded hover:cursor-pointer cursor-pointer
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility page-container {
  @apply max-w-screen-xl mx-auto px-4 md:px-6 lg:px-8;
}

@utility button-default {
  @apply bg-transparent hover:bg-(--theme) text-(--theme) font-semibold hover:text-white py-1 px-2 border border-(--theme) hover:border-transparent rounded hover:cursor-pointer cursor-pointer
}

@font-face {
  font-family: 'Charis-Bold';
  src: url('/fonts/Charis-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Charis';
  src: url('/fonts/Charis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-weight: bold;
  font-size: 30;
  font-family: sans-serif;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25;
}

p{
  padding-bottom: 1em;
  padding-top: 1em;
}

.reference {
    padding-left: 36px;
    text-indent: -36px;
}
